body {
    background-color: rgb(154, 211, 173);
    font-family: monospace;
    line-height: 20px;
    text-align: justify;
}
h1 {
    color: rgb(17, 53, 53);
    text-align: center;
    line-height: 40px;
    background-color: rgb(210,250,250);
}
h2 {
    color: rgb(17, 53, 53);
    background-color: rgb(210, 250, 250);
    line-height: 30px;
}
.geral {
    width: 30%;
}